* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    line-height: 3.5rem;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.app {
    padding: 20px 0;
    min-height: 100vh;
    background-image: url("./img/Back-ground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.container {
    height: 90%;
    width: 90%;
    margin-top: 14px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, .5);
    margin: auto;
    border-radius: 50px;
    min-height: 90vh;
    max-width: 1920px;
}
h1 {
    color: #f0f0f0;
    margin-top: 14px;
    padding: 40px 24px 0 24px;
    font-size: 4rem;
    text-align: center;
}
h2 {
    color: #f0f0f0;
    margin-top: 14px;
    padding-top: 50px;
    font-size: 3rem;
    text-align: center;
    line-height: 3.5rem;
}
h3 {
    color: #f0f0f0;
    margin-top: 14px;
    padding-top: 24px;
    font-size: 2.8rem;
    line-height: 1.6rem;
    text-align: center;
}
p {
    color: #f0f0f0;
    margin-top: 14px;
    padding-top: 24px;
    font-size: 2.4rem;
    text-align: center;
    line-height: 3rem;
}
.weather-icon {
    display: block;
    margin: 0 auto;
    padding-top: 24px;
}
.formInput {
    text-align: center;
    margin-top: 60px;
}
#inputLocation {
    width: 30%;
    height: 32px;
    padding: 0 10px;
    font-size: 1.8rem;
    border: none;
    border-radius: 10px;
    max-width: 515px;
    outline: none;
}
.btn {
    transform: translateY(2px);
    margin-left: 20px;
    font-size: 2.5rem;
    padding: 3px 5px;
    background-color: #0279e9;
    color: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    outline: none;
}
.btn:hover {
    opacity: 85%;
    cursor: pointer;
}
h2.text-infor {
    font-weight: 400;
    font-style: italic;
}

